
////////////////////////////////////////////
//// ESTILOS DE LA ESTRUCTURA DEL SITIO ////
////////////////////////////////////////////

.main
  width: 100%;
  min-width 1220px
  float: left;
  overflow hidden
